{% extends "layout.html" %}

{% block title %}
{% if article %}
{{ article[0] }}
{% else %}
Flask App
{% endif %}

{% endblock %}

{% block content %}
<div class="row">
    {% if article %}
    <h2>{{ article[0] }}</h2>
    <p>
        {{ article[1] }}
    </p>
    <p>
        By: {{ article[2] }}
    </p>
    {% else %}
    <h3>
        Invalid Article
    </h3>
    {% endif %}
</div>

<div class="row">
    <div class="offset-2 col-6">
        <a class="btn btn-primary" href="{{ url_for('index') }}"">Back</a>
    </div>
</div>
{% endblock %}
